    /* Slide in buttons */
    .slideInButton1 {
        position: absolute;
        right: 0;
        overflow-x: hidden;
        top: 0;
        margin-top: 10px;
        display: flex;
        align-items: center;
        width: 50px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 20px 20px 0px;
        border-radius: 20px 0px 0px 20px;
        background: transparent;
        transition: width 0.3s ease;
        z-index: 2;
    }

    .slideInButton1:hover {
        width: 200px;
    }

    .slideInContents {
        background-color: #fff;
        height: 45px;
        width: 200px;
        display: flex;
        border-radius: 20px;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        outline: none;
        border: none;
        z-index: 2;
    }

    .slideInContents .contactImg,
    .slideInContents .customerImg {
        margin-left: 0px;
        border-radius: 20px;
        height: 25px;
        width: 25px;
    }

    .slideInContents p {
        margin-left: 20px;
    }

    .slideInButton2 {
        position: absolute;
        right: 0;
        overflow-x: hidden;
        top: 65px;
        display: flex;
        align-items: center;
        width: 50px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 20px 20px 0px;
        border-radius: 20px 0px 0px 20px;
        background: transparent;
        transition: width 0.3s ease;
    }

    .slideInButton2:hover {
        width: 200px;
    }

    /* Layer 2: Hero section */
    .hero {
        position: relative;
        height: 227px;
        max-width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 64px;
        padding-right: 64px;
        margin-top: 121px;
    }

    /* Quick Pickup section */
    .quickPickup {
        width: 100%;
        height: 100%;
        background-image: url("/HeroSection/Layer_2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 19px;
    }

    /* Pickup options */
    .pickupOptions {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        font-size: 14px;
        padding-left: 81px;
        color: #fff;
    }

    .vehicleType {
        cursor: pointer;
        background-color: #ffffff2a;
        color: #fff;
        border: none;
        padding: 3px 16px;
        border-radius: 15px;
        outline: none;
    }

    /* Pickup link styles */
    .pickupLink {
        all: unset;
        color: #c0baba;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    .pickupLink:focus {
        color: #fff;
    }

    .pickupLink:focus .line {
        display: block;
    }

    .line {
        display: none;
        width: 100%;
        border-radius: 2px;
        height: 2px;
        background-color: #fff;
    }

    /* Additional details section */
    .additionalDetails {
        padding-left: 81px;
        column-gap: 16px;
        display: flex;
        flex-direction: row;
        height: 42px;
        width: max-content;
    }

    .location {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        background-color: #fff;
        height: 100%;
        width: 188px;
        padding-right: 16px !important;
    }

    .location2 {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        background-color: #fff;
        height: 100%;
        width: 188px;
        padding-right: 16px !important;
    }

    .hidden {
        display: none;
    }



    .location select {
        appearance: none;
        background-image: url("/HeroSection/Location.svg");
        background-repeat: no-repeat;
        background-position: left 16px center;
        padding: 16px 16px 16px 36px;
        background-size: 9px 12px;
        outline: none;
    }

    .location2 select {
        appearance: none;
        background-image: url("/HeroSection/Location.svg");
        background-repeat: no-repeat;
        background-position: left 16px center;
        padding: 16px 16px 16px 36px;
        background-size: 9px 12px;
        outline: none;
    }

    .locationList {
        background-color: transparent;
        border: none;
        outline: revert;
        color: #000;
        width: 100%;
    }

    .locationList2 {
        background-color: transparent;
        border: none;
        outline: revert;
        color: #000;
        width: 100%;
    }

    .location img {
        width: 9px;
        height: 12px;
    }



    /* Search button */
    .searchButton {
        height: 42px;
        width: 64px;
        background-color: #fff;
        border-radius: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .searchButton button,
    .quickBook button {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transition: color 0.4s;
    }

    /* Vertical line */
    .verticalLine {
        height: 42px;
        width: 2px;
        background-color: #fff;
        border-radius: 10px;
    }

    /* Quick book section */
    .quickBook button {
        border-radius: 20px;
        width: 232px;
        border: 2px solid #fff;
        transition: background-color 0.4s;
    }

    .quickBook button:hover {
        background-color: #fff;
        color: #d00000;
    }

    /* Download app section */
    .downloadLinks {
        padding-left: 81px;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 19px;
    }

    .downloadDescription {
        font-size: 14px;
        color: #fff;
        font-weight: 200;
    }


    .mobileBookingContainer {
        display: none;
    }

    /* responsive for max-width 1250px */


/* Responsive styles for .additionalDetails between 801px and 1250px */
@media (min-width: 801px) and (max-width: 1400px) {

    .additionalDetails {
        padding-left: 4%; /* Adjust padding for medium screens */
        column-gap: 1%; /* Reduce column gap for medium screens */
        height: auto; /* Adjust height based on content */
        width: auto; /* Adjust width based on content */
        font-size: 10px; /* Adjust font size for medium screens */
        display: flex;
        flex-direction: row;
        align-items: center; /* Ensure elements are vertically centered */
    }

    .location,
    .location2 {
        font-size: 10px; /* Adjust font size for medium screens */
        width: 250px; /* Adjust width for medium screens */
        padding-right: 8px; /* Adjust padding for medium screens */
    }

    .location select,
    .location2 select {
        padding: 14px 14px 14px 30px; /* Adjust padding for medium screens */
        background-size: 10px 14px; /* Adjust background size for medium screens */
    }
  
    .quickBook{
        font-size: 10px;
        height: 100%;
        width: 90%;
    }
}




    /* Responsive (mobile) styles */
    @media (max-width: 800px) {

        /* Slide button contact and customer service */
        .slideInButton1,
        .slideInButton2 {
            margin-right: -16px !important;
            margin-top: 7px;
        }

        .mainContainer {
            padding: 0px;
            margin: 0;
            display: flex;
            flex-direction: column;
            position: relative;


        }

        /* Hero section */
        .hero {

            padding: 0px 16px;
            margin: 0;
            height: unset;

        }

        .quickPickup {

            width: 100%;
            height: 120px;
            background-size: cover;
            border-radius: 20px;
            display: flex;

            align-items: center;
            justify-content: center;

        }




        .location,
        .pickupTime {
            font-size: 12px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #fff;
            height: 100%;
            width: 90%;
        }

        .location select,
        .dateTime {
            padding: 16px;
            background-position: left 12px center;
        }

        .searchButton {
            width: 50px;
        }

        .verticalLine {
            display: none;
        }

        .quickBook {
          
            flex-direction: column;
            align-items: center;
        }

        .downloadLinks {

            text-align: center;
            flex-direction: column;
            padding-left: 0;
            font-size: 13px;
            width: 251px;
        }

        .downloadDescription {
            font-size: 13px;
        }


        .mobileBookingContainer {
            display: block;
        }



        /* hide desktop elements */

        .pickupOptions,
        .additionalDetails {
            display: none;
        }



        /* HeroSection.module.css */

        .mobileBookingContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            position: relative;
        }

        .mobileBookingSection {
            width: 96%;
        }

        .mobileBookingButtons {
            display: flex;
            width: 100%;
        }

        .mobileBookingButton,
        .mobileBookingButton.outline {
            flex: 1;
            padding: 10px;
            margin: 5px;
            background-color: white;
            color: #E21E26;
            border: 2px solid #E21E26;
            border-radius: 5px;
            text-align: center;
            font-size: 16px;
        }

        .activeButton {
            background-color: #E21E26;
            color: white;
        }

        .tripOptionsContainer {
            width: 100%;
            margin-top: 20px;
            box-sizing: border-box;
        }

        .selectorOptions {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .selectorOption {
            all: unset;
            color: #c0baba;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            position: relative;
        }

        .selectorOption:focus {
            color: #000000;
        }

        .focused .line {
            display: block;
        }

        .line {
            display: none;
            width: 100%;
            border-radius: 2px;
            height: 2px;
            background-color: #000000;
        }

        .dropdownOptions {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        .dropdownOptions select,
        .dropdownOptions input {
            width: calc(100%);
            /* 16px padding on each side */
            padding: 10px;
            margin-top: 10px;
            font-size: 14px;
            border: 0;
            border-radius: 8px;
            background: #F6F7F9;
            box-sizing: border-box;
            outline: none;
        }

        .dropdownOptions select {
            appearance: none;
            background-image: url("/HeroSection/Location.svg");
            background-repeat: no-repeat;
            background-position: left 16px center;
            padding: 16px 16px 16px 36px;
            background-size: 9px 12px;
        }

        .dropdownOptions input {
            appearance: none;
            background-image: url("/HeroSection/date.svg");
            background-repeat: no-repeat;
            background-position: left 16px center;
            padding: 16px 16px 16px 36px;
            background-size: 9px 12px;
        }

        .searchButtonDiv {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .searchButton {
            width: 201px;
            padding: 12px;
            background: #E21E26;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
        }

    }