/* Heading Guildlines */
.headingGuildlines {
    width: 100%;
    height: 52px;
    font-size: 34.5px;
    line-height: 52.11px;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  /* Layer 5 General Styles */
  .layer5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .guildlinesMainDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 153px;
    padding-right: 153px;
 
  }
  
  /* Step Container Styles for Desktop */
  .stepContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 28%;

  }
  
  .numberIcon img {
    width: 64px;
    height: 52px;
    margin-bottom: 16px;
  }
  
  .guildline {
    width: 100%;
    height: 167px;
    background-color: #ffffff;
    border: 0.5px solid black;
    padding: 16px;
  }
  
  .guildlineImg {
    width: 38px;
    height: 46px;
    margin-bottom: 16px;
  }
  
  .guildlinesParagraph {
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
  }
  
  /* Responsive Design for Mobile */
  @media (max-width: 800px) {
    .headingGuildlines {
      width: 100%;
      height: 24px;
      font-size: 16px;
      margin: 16px 16px  !important;
      padding: 0;
      text-align: center;
      display: flex;
      justify-content: left;
    }
  
    .layer5 {
      width: 100%;
      padding: 16px 0px !important;
    }
  
    .guildlinesMainDiv {
      flex-direction: column;
      align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    }
  
    .stepContainer {
      width: 90%;
      margin-bottom: 32px;
    }
  
    .numberIcon img {
      width: 48px;
      height: 48px;
      margin-bottom: 12px;
    }
  
    .guildline {
      width: 100%;
      background-color: #ffffff;
      border: 0.5px solid black;
    }
  
    .guildlineImg {
      width: 40px;
      height: 40px;
      margin-bottom: 12px;
    }
  
    .guildlinesParagraph {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  